.wrk {
  display: flex;
  gap: 24px;
  padding: 24px;
  background: #f1f3f6;
  font-family: "Segoe UI", Roboto, Arial, sans-serif;
  box-sizing: border-box;
  color: black;
  height: 100vh;
}

.tble {
  width: 65%;
  background: #fff;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.06);
  display: flex;
  flex-direction: column;
}

.table-wrapper {
  overflow: auto;
  border: 1px solid #e0e3e7;
  border-radius: 6px;
  scrollbar-width: thin;
  scrollbar-width: thin;
  scrollbar-color: #006408 #f9f3e3;
}

table {
  border-collapse: collapse;
  font-size: 13px;
  min-width: 1200px;
}

th, td {
  padding: 8px;
  border: 1px solid #e0e3e7;
  white-space: nowrap;
}

th {
  background: #0f7a24;
  color: white;
  position: sticky;
  top: 0;
  z-index: 2;
}

td {
  color: black;
}

tbody tr:nth-child(even) {
  background: #fafafa;
}

tbody tr:hover {
  background: #eef4ff;
}

.form {
  width: 35%;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.06);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #006408 #f9f3e3;
}
.fir{
  margin-bottom: 14px;
}

.form-grid {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.form-group{
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 15px;
  color: #000000;
  font-weight: bold;
  margin-bottom: 4px;
}

.form-group input {
  border: none;
  border-bottom: 2px solid #dadce0;
  background: white;
  padding: 8px 6px;
  color: gray;
  font-size: 14px;
  outline: none;
}
.form-group input::placeholder {
  color: rgb(155, 154, 154);
}

.form-group input:focus {
  border-bottom-color: #673ab7;
}

.frmbtn {
  margin-top: 12px;
  padding: 10px 24px;
  background: #673ab7;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.excel-table {
  outline: none;
}

.cell {
  cursor: cell;
}

.cell.selected {
  background: #e8f0fe;
  outline: 2px solid #1a73e8;
  outline-offset: -2px;
}

.excel-table:focus {
  box-shadow: 0 0 0 2px rgba(26, 115, 232, 0.2);
}

@media (max-width:450px){
  .wrk{
    flex-direction: column;
    padding: 10px;
    
  }
  .tble{
    width: 95%;
    height: 300px !important;
    padding: 10px !important;
  }
  .tble h2{
    font-size: 14px
  }
  .form{
    width: 95%;
    padding: 10px;
  }
  .form h2{
    font-size: 14px;
  }
  .form-group label{
    font-size: 13px;
  }
  .form-group input {
    font-size: 12px;
  }
  table{
    font-size: 10px !important;
  }
  th,td{
    padding: 3px !important;
  }

}