
html, body {
  width: 100%;
  overflow-x: hidden;
}
.adminform{
    width: 100vw;
    height: 100vh;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}
.userform{
  display: flex;
  flex-direction: column;
  color: black;
  padding: 10px 20px;
}
.userform h2{
  font-size: 25px;

}
.form1{
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
  flex-direction: column;
  box-shadow: 2px 2px 10px gray;
  border-radius: 5px;
}
.form1 h3{
  display: flex;
  align-self: flex-start;
  padding-left: 30px;
  font-size: 22px;
}
.inform{
  display: grid;
  width: 95%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.inform input, select{
  background: white;
  border: 0.2px solid gray;
  color: gray;
  padding: 10px 5px;
  border-radius: 2px;
}
.btnnns{
  display: flex;
  align-self: flex-end;
  padding: 20px 40px;
  gap: 20px;
}
.btns button{
  padding: 10px 20px;
}
.cancel{
  background: rgb(230, 230, 230);
  color: black;
  box-shadow: 2px 2px 10px gray;
}
.submit{
  background: linear-gradient(180deg, #1b8f2f, #0f7a24);
  box-shadow: 2px 2px 10px gray;
}